cycler==0.10.0
Cython==0.28.2
fastdtw==0.3.2
h5py>=2.7.1
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.3
pip>=18.0
pyparsing==2.2.0
python-dateutil==2.7.3
PyWavelets==1.0.1
ruptures==1.0.1
six==1.11.0